RewriteEngine On
RewriteBase /creativitas/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /creativitas/index.html [L,QSA]

<IfModule LiteSpeed>
    CacheDisable public /
    CacheDisable private /
</IfModule>